# exersize pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
#create Series
s=pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates=pd.date_range('20160722',periods=6)
dates

DatetimeIndex(['2016-07-22', '2016-07-23', '2016-07-24', '2016-07-25',
               '2016-07-26', '2016-07-27'],
              dtype='datetime64[ns]', freq='D')

In [13]:
#create DataFrame
data_frame=pd.DataFrame({'A': 1.,
                                                  'B': pd.Timestamp('20160722'),
                                                  'C': pd.Series(1,index=list(range(4)),dtype='float32'),
                                                  'D': np.array([3]*4,dtype='int32'),
                                                  'E': pd.Categorical(["test","train","test","train"]),#ここのデータ分がCのlist(arange())の値と一致しないとエラーが生じる．
                                                  'F': "foo"  })
data_frame

     A          B    C  D      E    F
0  1.0 2016-07-22  1.0  3   test  foo
1  1.0 2016-07-22  1.0  3  train  foo
2  1.0 2016-07-22  1.0  3   test  foo
3  1.0 2016-07-22  1.0  3  train  foo

In [21]:
#create DataFrame from numpy matrix
matrix=np.random.randn(6,4)
df2=pd.DataFrame(matrix,columns=list('ABCD'))#df reffers data frame
df2

          A         B         C         D
0 -0.267391 -0.300718  0.464937 -1.656692
1 -1.518722  1.026981  0.953780 -1.111770
2  1.679768 -0.075794  0.175479  1.233364
3 -0.142743  0.706338 -0.216945  0.667492
4 -0.823222 -1.057850  1.329428  0.374604
5 -2.553636  0.015632  0.696907  1.048935