# exersize pandas

In [2]:
import pandas as pd
import numpy as np

In [3]:
#create Series
s=pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates=pd.date_range('20160722',periods=6)
dates

DatetimeIndex(['2016-07-22', '2016-07-23', '2016-07-24', '2016-07-25',
               '2016-07-26', '2016-07-27'],
              dtype='datetime64[ns]', freq='D')

In [5]:
#create DataFrame
data_frame1=pd.DataFrame({'A': 1.,
                                                  'B': pd.Timestamp('20160722'),
                                                  'C': pd.Series(1,index=list(range(4)),dtype='float32'),
                                                  'D': np.array([3]*4,dtype='int32'),
                                                  'E': pd.Categorical(["test","train","test","train"]),#ここのデータ分がCのlist(arange())の値と一致しないとエラーが生じる．
                                                  'F': "foo"  })
data_frame1

     A          B    C  D      E    F
0  1.0 2016-07-22  1.0  3   test  foo
1  1.0 2016-07-22  1.0  3  train  foo
2  1.0 2016-07-22  1.0  3   test  foo
3  1.0 2016-07-22  1.0  3  train  foo

In [6]:
#create DataFrame from numpy matrix
matrix=np.random.randn(6,4)
df2=pd.DataFrame(matrix,columns=list('ABCD'))#df refers data frame
df2

          A         B         C         D
0  0.389303 -0.237663 -0.225633 -1.036452
1 -0.271097  0.698773  0.533543  1.276762
2  0.350929  1.330597 -0.573281 -1.070621
3  0.211165 -0.355184  0.345631 -0.093610
4 -0.507738 -0.242742 -1.972279  0.106326
5  0.754973  0.225919 -0.460537 -1.136270

# show data of DataFrame

In [7]:
#pandas show data of column named 'A'
df2['A']

0    0.389303
1   -0.271097
2    0.350929
3    0.211165
4   -0.507738
5    0.754973
Name: A, dtype: float64

In [8]:
#you can also refer 
df2.A

0    0.389303
1   -0.271097
2    0.350929
3    0.211165
4   -0.507738
5    0.754973
Name: A, dtype: float64

In [9]:
#refer data that satisfies df.A is positive
df2[df2.A>0]

          A         B         C         D
0  0.389303 -0.237663 -0.225633 -1.036452
2  0.350929  1.330597 -0.573281 -1.070621
3  0.211165 -0.355184  0.345631 -0.093610
5  0.754973  0.225919 -0.460537 -1.136270

In [10]:
df=pd.DataFrame(np.random.randn(6,4),columns=list('ABCD'))
df

          A         B         C         D
0  1.742520 -0.274799 -0.767187 -0.750714
1 -2.361465 -0.315157 -1.231081 -0.484964
2  0.472683  2.612963 -0.108316  0.163487
3  0.387289 -0.222898 -0.329532  0.229966
4  0.008621  2.120889 -0.989990 -1.240253
5 -1.430793  0.605847  1.805160 -0.450125

In [11]:
len(df.index)

6

In [12]:
len(df.columns)

4

In [13]:
df.shape

(6, 4)

In [17]:
data={"Name":["John","Anna","Peter","Linda"],
     "Location":["New York","Paris","Berlin","London"],
     "Age":[24,13,53,33]}
data_pandas=pd.DataFrame(data)

In [21]:
data_pandas

   Age  Location   Name
0   24  New York   John
1   13     Paris   Anna
2   53    Berlin  Peter
3   33    London  Linda

In [23]:
from IPython.display import display
display(data_pandas[data_pandas.Age>30])

   Age Location   Name
2   53   Berlin  Peter
3   33   London  Linda