# exersize pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
#create Series
s=pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates=pd.date_range('20160722',periods=6)
dates

DatetimeIndex(['2016-07-22', '2016-07-23', '2016-07-24', '2016-07-25',
               '2016-07-26', '2016-07-27'],
              dtype='datetime64[ns]', freq='D')

In [4]:
#create DataFrame
data_frame1=pd.DataFrame({'A': 1.,
                                                  'B': pd.Timestamp('20160722'),
                                                  'C': pd.Series(1,index=list(range(4)),dtype='float32'),
                                                  'D': np.array([3]*4,dtype='int32'),
                                                  'E': pd.Categorical(["test","train","test","train"]),#ここのデータ分がCのlist(arange())の値と一致しないとエラーが生じる．
                                                  'F': "foo"  })
data_frame1

     A          B    C  D      E    F
0  1.0 2016-07-22  1.0  3   test  foo
1  1.0 2016-07-22  1.0  3  train  foo
2  1.0 2016-07-22  1.0  3   test  foo
3  1.0 2016-07-22  1.0  3  train  foo

In [5]:
#create DataFrame from numpy matrix
matrix=np.random.randn(6,4)
df2=pd.DataFrame(matrix,columns=list('ABCD'))#df refers data frame
df2

          A         B         C         D
0  1.030708 -0.767512  0.089344  0.516483
1 -0.446359 -0.508445 -1.083544  0.910207
2 -0.656840  1.672443  0.658092  0.499659
3  1.064381 -0.414883 -0.204582  0.286997
4 -2.650973  0.705707 -1.369977 -0.073122
5 -0.277992  0.564559  2.314072  0.542351

# show data of DataFrame

In [9]:
#pandas show data of column named 'A'
df2['A']

0    1.030708
1   -0.446359
2   -0.656840
3    1.064381
4   -2.650973
5   -0.277992
Name: A, dtype: float64

In [10]:
#you can also refer 
df2.A

0    1.030708
1   -0.446359
2   -0.656840
3    1.064381
4   -2.650973
5   -0.277992
Name: A, dtype: float64

In [12]:
#refer data that satisfies df.A is positive
df2[df2.A>0]

          A         B         C         D
0  1.030708 -0.767512  0.089344  0.516483
3  1.064381 -0.414883 -0.204582  0.286997

In [14]:
df=pd.DataFrame(np.random.randn(6,4),columns=list('ABCD'))
df

          A         B         C         D
0  0.939380 -0.240619  0.445245 -0.932592
1  1.295602 -0.789107 -0.621149  1.180750
2  0.695526 -0.208509 -0.191212  0.581722
3  0.194320  0.308882  1.129201 -0.661866
4  0.120420 -0.793828  0.673586  2.002746
5 -0.175431  2.071316  0.434162 -0.252558

In [15]:
len(df.index)

6

In [16]:
len(df.columns)

4

In [17]:
df.shape

(6, 4)